<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <title>설문조사결과</title>
    <%- include('../partials/head') %>
</head>
<body class="body1">
    <div class="container2">
    <%- include('../partials/nav') %>
    <h2 align="center">설문 조사 결과</h2>
    <div class="container">
        <table align="center" class="table table-hover">
            <thead>
                <tr>
                    <th>선택값</th>
                    <th>선택한 횟수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>남자</td>
                    <td><%= count[0] + count[1] %></td>
                </tr>
                <tr>
                    <td>여자</td>
                    <td><%= count[2] + count[3] %></td>
                </tr>
                <tr>
                    <td>호랑이</td>
                    <td><%= count[0] + count[2] %></td>
                </tr>
                <tr>
                    <td>코끼리</td>
                    <td><%= count[1] + count[3] %></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th>성별 & 선택한 동물</th>
                    <th>총 선택 횟수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>남자 & 호랑이</td>
                    <td><%= count[0] %></td>
                </tr>
                <tr>
                    <td>남자 & 코끼리</td>
                    <td><%= count[1] %></td>
                </tr>
                <tr>
                    <td>여자 & 호랑이</td>
                    <td><%= count[2] %></td>
                </tr>
                <tr>
                    <td>여자 & 코끼리</td>
                    <td><%= count[3] %></td>
                </tr>
            </tbody>
        </table>
    
    </div>
    <br/>
    <div class="flex_container">
        <a class="a1" href="#" onclick="location.href='/'">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Home
        </a>
    </div>
</div>
    
    
</body>
</html>